/* overlay_add_task */
@media (max-width: 1001px) {
  .overlay_add_task {
    gap: 0;
    padding: 28px;
  }
  
  .add-task__title {
    font-size: 52px;
    margin-bottom: 20px;
  }

  .add-task-close-btn {
    top: 50px;
    display: none;
  }

  .add-task__input,
  .add-task__textarea,
  .custom-select__trigger {
    font-size: 16px;
  }

  .add-task__divider {
    display: none;
  }

  .add-task__grid {
    gap: 0;
  }

  .add-task__selected-assignees {
    margin: 0;
    min-height: 0;
  }

  form {
    gap: 0;
  }

  .add-task__column {
    gap: 2px;
  }

  .add-task__field-spacing {
    margin-bottom: 5px;
  }

  .add-task__input {
    margin-bottom: 10px;
  }

  .add-task__footer {
    margin-top: 0;
    gap: 0;
  }

  .add-task__priority {
    margin-bottom: 10px;
  }

  .add-task__textarea {
    min-height: 85px;
  }

  .button.add-task__priority-button {
    font-size: 16px;
  }

  .button.add-task__button {
    height: 40px;
    font-size: 16px;
  }
}

@media(max-width: 735px) {
  .button.add-task__priority-button {
    flex-direction: row;
    height: 45px;
    font-size: 16px;
  }

  .add-task__actions {
    bottom: 25px;
  }

  .add-task__title {
    font-size: 46px;
  }

  .button.add-task__button {
    height: 40px;
    font-size: 16px;
    padding: 0px 11px;
    font-weight: 400;
    gap: 0px;
  }

  .overlay_add_task {
    height: 836px;
  }

  .add-task__priority-button img {
    margin-left: 0;
  }
}

@media (max-width: 430px) {
  .board-overlay__content {
    width: min(1100px, calc(116vw - 64px));
  }

  .button.add-task__priority-button {
    font-size: 16px;
  }

  .add-task__priority-button[value="medium"].selected {
    padding-left: 14px;
  }
}

/* edit-task-form */
@media(max-width: 993px) {
  .task-overlay-content {
    padding: 20px;
  }

  .overlaytemplate__priority--container {
    gap: 3px;
  }

  .overlaytemplate__priority--container img {
    width: 30px;
    height: 26px;
  }

  .add-task__priority-options {
    gap: 5px !important;
  }

  .add-task__priority-button img {
    margin-left: 0 !important;
  }
}

@media (max-width: 537px) {
  .task-overlay-content {
    padding: 12px;
  }

  .button.add-task__priority-button {
    font-size: 16px !important;
  }

  .add-task__priority-icon {
    width: 26px;
    height: 26px;
  }

  .edit-task-content {
    padding-right: 6px;
  }

  .add-task__input {
    font-size: 16px;
  }

  .input__text__editoverlay {
    font-size: 16px !important;
  }

  .edit-task-form .add-task__input {
    font-size: 16px;
  }

  .padding-right-class {
    padding-right: 18px;
  }

  .overlaytemplate__priority--container img {
    height: 22px;
  }

  .overlaytemplate__priority--container {
    gap: 0;
  }
}
