@media (max-width: 1352px) {
  .task__list {
    min-height: 24px;
    max-width: 66vw;
    flex-direction: row;
    display: flex;
    overflow: auto;
    gap: 10px;
  }

  .task__title {
    width: 100%;
    overflow: hidden;
  }

  .task__text {
    width: 100%;
    max-width: 100%;
    line-height: 19px;
    max-height: 38px;
    overflow: hidden;
    overflow-wrap: anywhere;
    word-break: normal;
  }

  .task__card {
    min-width: 250px;
    min-height: 250px;
  }

  .board__tasks {
    flex-direction: column;
    max-width: 100vw;
  }

  .task {
    width: unset;
  }

  .task__area {
    min-height: 299px;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width:940px) {
  .board__search--section {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .board__header {
    display: block;
    max-width: 1160px;
  }

  .board__task {
    display: none;
  }

  .task__area {
    max-height: calc(100vh - 420px);
  }

  .board__task--mobile {
    display: block;
  }

  .board__header--title {
    padding-bottom: 0;
    margin-bottom: -52px;
    padding-left: 16px;
    font-size: 44px;
  }

  .board__search--section {
    padding-left: 16px;
  }

  .board__search--wrapper {
    width: 100%;
    display: flex;
    padding: 0;
  }

  .board__search--input {
    flex: 1;
    margin-top: 30px;
  }

  .board__search--icon,
  .board__search--wrapper::after {
    top: 67%;
  }

  .board__search--wrapper::after {
    right: 58px;
  }

  .board-add-btn {
    height: 40px;
    width: 40px;
  }

  .board-add-icon {
    margin: 0;
  }

  .task__list {
    max-width: 62vw;
  }
}

@media (max-width:830px) {
  .sidebar {
    display: none;
  }

  .board__header {
    margin: 0;
    margin-top: 170px;
  }

  main {
    margin: 0;
    padding: 0;
  }

  .task {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 20px;
  }

  .content {
    padding-bottom: 100px;
  }

  .task__list {
    display: flex;
    width: 100%;
    max-width: 100vw;
  }

  .task__category--technical-task {
    white-space: nowrap;
  }
}

@media (max-width: 601px) {
  .board__header {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .board__search--section {
    width: 100%;
  }

  .board__header--title {
    padding-bottom: 0;
    margin-bottom: -40px;
    padding-left: 0;
    font-size: 35px;
  }

  .board__search--wrapper {
    padding-right: 16px;
  }

  .board__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 57px;
    padding-left: 16px;
  }

  .board__search--icon {
    top: 67%;
    right: 37px;
  }

  .board__search--wrapper::after {
    top: 67%;
    right: 70px;
  }

  .board__tasks {
    flex-direction: column;
  }

  main {
    margin: 0;
    padding: 0;
  }

  .task {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 20px;
  }

  .task__section {
    width: 100%;
  }

  .content {
    padding-bottom: 100px;
  }

  .task__area {
    min-height: 0;
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .task__list {
    min-height: 24px;
    display: flex;
    align-items: center;
  }

  .task__category--technical-task {
    white-space: nowrap;
  }

  .board-add-icon {
    margin: 0;
  }

  .board-add-btn {
    margin-right: 16px;
  }
}


@media (max-width: 541px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 366px) {
  .board__search--input {
    padding: 0;
  }

  input::placeholder {
    padding-left: 10px;
  }
}

/*task-overlay-content*/
@media (max-width: 992px) {


  .task-overlay-content {
    width: 369px;
  }

  .task-overlay-content h2 {
    font-size: 37px;
  }

  .task-overlay-content p {
    font-size: 20px;
  }

  .contact_avatar {
    width: 38px;
    height: 38px;
  }

  .assigned_contact,
  .overlaytemplate-subtask-checkbox,
  .taskoverlay_detail_actions button {
    font-size: 16px;
  }

  .taskoverlay_detail_actions img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 535px) {
  .taskoverlay_detail_actions {
    padding-top: 10px;
  }

  .task-overlay-content {
    width: 281px;
  }

  .task-overlay-content h2 {
    font-size: 26px;
  }

  .task-overlay-content p {
    font-size: 16px;
  }

  .contact_avatar {
    width: 30px;
    height: 30px;
  }

  .assigned_contact,
  .overlaytemplate-subtask-checkbox,
  .taskoverlay_detail_actions button {
    font-size: 16px;
  }

  .taskoverlay_detail_actions img {
    width: 18px;
    height: 18px;
  }

  .overlaytemplate-subtask-checkbox img {
    width: 16px;
    height: 16px;
  }
}

/* overlay_add_task */
@media (max-width: 1001px) {
  .overlay_add_task {
    gap: 0;
    padding: 28px;
  }

  .add-task__title {
    font-size: 52px;
    margin-bottom: 20px;
  }

  .add-task-close-btn {
    top: 50px;
    display: none;
  }

  .add-task__input,
  .add-task__textarea,
  .custom-select__trigger {
    font-size: 16px;
  }

  .add-task__divider {
    display: none;
  }

  .add-task__grid {
    gap: 0;
  }

  .add-task__selected-assignees {
    margin: 0;
    min-height: 0;
  }

  form {
    gap: 0;
  }

  .add-task__column {
    gap: 2px;
  }

  .add-task__field-spacing {
    margin-bottom: 5px;
  }

  .add-task__input {
    margin-bottom: 10px;
  }

  .add-task__footer {
    margin-top: 0;
    gap: 0;
  }

  .add-task__priority {
    margin-bottom: 10px;
  }

  .add-task__textarea {
    min-height: 85px;
  }

  .button.add-task__priority-button {
    font-size: 16px;
  }

  .button.add-task__button {
    height: 40px;
    font-size: 16px;
  }
}

@media(max-width: 735px) {
  .button.add-task__priority-button {
    flex-direction: row;
    height: 45px;
    font-size: 16px;
  }

  .add-task__actions {
    bottom: 25px;
  }

  .add-task__title {
    font-size: 46px;
  }

  .button.add-task__button {
    height: 40px;
    font-size: 16px;
    padding: 0px 11px;
    font-weight: 400;
    gap: 0px;
  }

  .overlay_add_task {
    height: 836px;
  }

  .add-task__priority-button img {
    margin-left: 0;
  }
}

@media (max-width: 430px) {
  .board-overlay__content {
    width: min(1100px, calc(116vw - 64px));
  }

  .button.add-task__priority-button {
    font-size: 16px;
  }

  .add-task__priority-button[value="medium"].selected {
    padding-left: 14px;
  }
}

/* edit-task-form */
@media(max-width: 993px) {
  .task-overlay-content {
    padding: 20px;
  }

  .overlaytemplate__priority--container {

    gap: 3px;
  }

  .overlaytemplate__priority--container img {
    width: 30px;
    height: 26px;
  }

  .add-task__priority-options {
    gap: 5px !important;
  }

  .add-task__priority-button img {
    margin-left: 0 !important;
  }
}

@media (max-width: 537px) {
  .task-overlay-content {
    padding: 12px;
  }

  .button.add-task__priority-button {
    font-size: 12px !important;
  }

  .add-task__priority-icon {
    width: 26px;
    height: 26px;
  }

  .edit-task-content {
    padding-right: 6px;
  }

  .add-task__input {
    font-size: 12px;
  }

  .input__text__editoverlay {
    font-size: 13px !important;
  }

  .edit-task-form .add-task__input {
    font-size: 14px;
  }

  .padding-right-class {
    padding-right: 18px;
  }

  .overlaytemplate__priority--container img {
    height: 22px;
  }

  .overlaytemplate__priority--container {
    gap: 0;
  }

}
