:root {
  /* Avatar-colors */
  --color-avatar-1: #FF7A00;
  --color-avatar-2: #FF5EB3;
  --color-avatar-3: #6E52FF;
  --color-avatar-4: #9327FF;
  --color-avatar-5: #00BEE8;
  --color-avatar-6: #1FD7C1;
  --color-avatar-7: #FF745E;
  --color-avatar-8: #FFA35E;
  --color-avatar-9: #FC71FF;
  --color-avatar-10: #FFC701;
  --color-avatar-11: #0038FF;
  --color-avatar-12: #C3FF2B;
  --color-avatar-13: #FFE62B;
  --color-avatar-14: #FF4646;
  --color-avatar-15: #FFBB2B;
  /* Font-colors */
  --color-text-primary: #000000;
  --color-text-secondary: #CDCDCD;
  --color-text-tertiary: #29ABE2;
  --color-text-mail: #007CEE;
  --color-text-button: #FFFFFF;
  --color-hover: #29ABE2;
  --color-danger: #E60026;
  --color-footer: #AAA;
  --color-footer-p: #AFB8C5;
  --color-menu-bg: #2A3647;
  --color-nav-hover: #091931;
  --color-shadow-signup: #0000000a;
  --color-scrollbar: #4589FF;
  --color-sidemenu-active: #2A3647;
  --color-secondary: #FFFFFF;
  --color-input-placeholder: #D1D1D1;
  --color__placeholder--board: #A8A8A8;
  --color-input-icon: #A8A8A8;
  --color-muted: #999999;
  --color-border-light: #D1D1D1;
  --color-border-mid: #AAAAAA;
  --color-overlay-soft: rgba(0, 0, 0, 0.18);
  --color-overlay-medium: rgba(0, 0, 0, 0.35);
  --color-overlay-strong: rgba(0, 0, 0, 0.432);
  --color-overlay-backdrop: rgba(0, 0, 0, 0.5);
  --color-shadow-soft: rgba(0, 0, 0, 0.1);
  --color-shadow-medium: rgba(0, 0, 0, 0.12);
  --color-shadow-strong: rgba(0, 0, 0, 0.15);
  --color-success-highlight: #E1E6BC;
  --color-surface-hover-top: #F9F9F9;
  --color-surface-hover-bottom: #F0F0F0;
  /* Background-colors */
  --color-background-primary: #F6F7F8;
  --color-background-input: #FFFFFF;
  --background__placeholder--board: #E7E7E7;
  --background__button: #2a3647;
  --background__menu: #2a3647;
  --background__menu--hover: #091931;
  --background__button--hover: #29ABE2;
  --background__primary: #F6F7F8;
  --background__secondary: #FFFFFF;
  --background__task--placeholder: #E7E7E7;
  --background__task--user-story: #0038FF;
  --background__task--technical-task: #1FD7C1;
  /* Border-colors */
  --border__task--highlight: #A8A8A8;
  --border__button: #2A3647;
  --border__bar: #2fa9db;
  /* Priority-colors */
  --priority-urgent: #FF0000;
  --priority-medium: #FFA800;
  --priority-low: #7AE229;
}
